.banner{
	height: 495px;
	background-image: url("../img/bg.png"); /* Путь к фоновому изображению */
    
	.text {
		float: right;
		margin: 0;
		h1{
			text-align: left;
		}
		p{
			text-align: left;
		}
		.button{
			padding-top: 40px;
			padding-bottom: 40px;
			margin: 0;
			text-align: left;
		}
		
	}
}
.button{
			margin-top: 40px;
			margin-bottom: 100px;
			text-align: center;
			a{
				text-decoration: none;
				text-transform: uppercase;
				font:$button-font;
				color: $white;
				padding: 20px 45px;
				background: $hover-clr;
			}
			a:hover{
				background: lighter($hover-clr, 1);
			}
		}
.sign{
	width: 223px;
	padding-top: 40px;
	margin: $center;
}